# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore logs
*.log

# Ignore compiled binaries
*.o
*.so

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VS Code settings
mpc_optimiser/.vscode/

# Ignore virtual environments
venv/
env/

# Ignore output folders
.mpc_optimiser/build/
.mpc_optimiser/dist/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore coverage reports
.mpc_optimiser/robot_interface_correct.so
.mpc_optimiser/robot_interface.so
.mpc_optimiser/python_interface.cpp
.mpc_optimiser/MPC_OPTIMISER/evaluation_scripts